/* Carousel animation */
body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

@keyframes slide {

    0%,
    33.33% {
        transform: translateX(0);
    }

    33.34%,
    66.66% {
        transform: translateX(-100%);
    }

    66.67%,
    100% {
        transform: translateX(-200%);
    }
}

.hero-carousel .carousel-track {
    animation: slide 12s infinite;
    /* 12s for 3 slides with 4 seconds each */
}

.hero-carousel img {
    transition: transform 0.5s ease;
}

.popup-message-fav {
    animation: fade-in-out 1s ease forwards;
    z-index: 1000;
}

.popup-message-cart {
    animation: fade-in-out 1s ease forwards;
    z-index: 1000;
}

@keyframes fade-in-out {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }

    20%,
    80% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(0.9);
    }
}